<!DOCTYPE html>
<html>
<head>
  <title>Agnieszka Krempic Fotografia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  

</head>
<body>

<p align='center'><img src="/images/logo-png.png" width="40%"></p>
<%= render 'home/header' %>

<div class="container">
  <% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
  <% end %>
  <%= yield %>  
</div>

<footer>
  <div class='container'>
    <p align='center'>2016 Agnieszka Krempic Fotografia</p>
  </div>
</footer>
</body>
</html>
